.react-badge
  width: 76px
  height: auto
  display inline-block
  margin 0 1.5rem 0
  text-align: center
  font-size 1rem
  line-height: 1em

  .react-badge-icon
    width: 76px
    height: 76px
    background url('./snippets/react-badge/images/react-icon.svg') no-repeat top center
    background-size @width @height
    margin: 0 auto 10px auto
